Repository hashicorp/consul-dataplane, pull requests merged in 2024-07, with the labels that each got.

#578 Bump envoy 1.29.7
  .changelog/578.txt
  Dockerfile
Labels: backport/1.1, backport/1.3, backport/1.4, backport/1.5

#584 Stage 1.5.1 release
  CHANGELOG.md
  go.mod
  go.sum
  pkg/version/version.go
Labels: pr/no-changelog

#585 Consume proto-public @ v0.6.2
  go.mod
  go.sum
Labels: pr/no-changelog, backport/1.1, backport/1.3, backport/1.4, backport/1.5

#583 Prep for future release, 1.5.2
  CHANGELOG.md
  pkg/version/version.go
Labels: pr/no-changelog

#590 Prep for future release, 1.4.4
  CHANGELOG.md
  pkg/version/version.go
Labels: pr/no-changelog

#591 Prep for future release, 1.3.7
  CHANGELOG.md
  pkg/version/version.go
Labels: pr/no-changelog

#592 Prep for future release, 1.1.13
  CHANGELOG.md
  pkg/version/version.go
Labels: pr/no-changelog

#593 NET-10480 - fix setting namespace and partition setting in dns-proxy mode
  pkg/consuldp/bootstrap.go
  pkg/consuldp/bootstrap_test.go
  pkg/consuldp/consul_dataplane.go
  pkg/consuldp/consul_dataplane_test.go
  pkg/dns/dns.go
Labels: pr/no-changelog
