Repository hashicorp/consul-dataplane, pull requests merged in 2025-08, with the labels that each got.

#800 update: go version to 1.24.5
  .changelog/800.txt
  go.mod
  go.sum
  integration-tests/go.mod
Labels: backport/all

#803 bump: go discover version
  .changelog/803.txt
  .release/security-scan.hcl
  Dockerfile
Labels: backport/1.6, backport/1.7, backport/1.8

#827 update: post-release changelog
  CHANGELOG.md
  pkg/version/version.go
Labels: pr/no-changelog

#829 update: post-release changelog
  CHANGELOG.md
Labels: pr/no-changelog
